# Dépendances
node_modules/

# Fichiers de logs
logs
*.log
npm-debug.log*

# Fichiers d'environnement
.env

# Fichiers de build
dist/
build/

# Fichiers système
Thumbs.db

# Fichiers d'IDE/éditeurs
.vscode/

# Autres fichiers temporaires
.tmp
.temp